<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appSettings>
        <!-- 登録フォルダ: Folder1, Folder2, ... のキーで追加 -->
        <add key="Folder1" value="D:\Data\Files" />
        <add key="Folder2" value="E:\SharedFiles" />
    </appSettings>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.aspx" />
            </files>
        </defaultDocument>
    </system.webServer>
    <system.web>
        <customErrors mode="Off"/>
    </system.web>
</configuration>